    *{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: Helvetica,serif,cursive,Times New Roman ;

}


header {

    width: 100%;

    position: absolute;

    top: 0;
    left: 0;

    display: flex;

    justify-content: space-between;

    padding: 40px 100px;

    z-index: 10000;

    transition: 0.6s;

}

header .logo {

    position: relative;

    font-weight: 700;

    color:#fff;

    text-decoration: none;

    text-transform: uppercase;

    letter-spacing: 2px;

    transition: 0.6s;

}

header #toggle {

    position: relative;

    height: 30px;

    width: 30px;

    cursor: pointer;

    transition: 0.9s;

}

header #toggle:before {

    content: '';

    position: absolute;

    top: 7px;

    width:100%;

    height: 2px;

    background-color: #fff;

    transition: 0.5s;
    

}

header #toggle:after {

    content: '';

    position: absolute;

    bottom: 7px;

    width: 80%;

    height: 2px;

    background-color: #fff;

    transition: 0.7s;

}

.banner {

    position: relative;

    min-height: 100vh;

    width: 100%;

    padding: 100px;

    background: url(./MaterialIcon/teddy-bear.png);

    background-size: cover;

    display: flex;

    align-items: center;

    z-index: 2;

    transition: 0.6s;

}


.banner.active header #toggle:before {

    transition: 0.4s;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.banner.active header #toggle:after {
    transition: 0.6s;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.banner.active {
    transform: translateX(-400px);
}


#navigation {

    position: fixed;

    top: 0;

    right: -200px;

    height: 100vh;

    width: 400px;

    z-index: 1;

    background: #837362;

    display: grid;

    place-items: center;

    transition: 0.95s;

}

#navigation.active {
    right: 0;
}

#navigation ul {

    position: relative;

    display: flex;

    flex-direction: column;

}

#navigation ul li {
    list-style: none;
}

#navigation ul li a{

    color: #fff;

    text-decoration: none;

    display: inline-block;

    font-size: 2em;

    font-weight: 600;

    text-transform: uppercase;

}

.content{
    max-width: 600px;
}

.content h2 {
    color: #fff;
    font-size: 2.5em;
}

.content h2 span {
    font-size: 1.2em;
    color: #2d3e4a;
    background: red;
    padding: .2rem;

    border-radius: 8px;
}

.content p {

    font-size: 1.2em;

    color: #fff;

    font-weight: 300;

}

.content a {

    position: relative;

    display: inline-block;

    margin-top: 20px;

    background: #fff;

    color: #000;

    padding: 10px 30px;

    text-decoration: none;

    font-size: 1.2em;

    font-weight: 500;

}

.sci {

    position: absolute;

    display: flex;

    flex-direction: column;

    right: 100px;

}

.sec li {list-style: none;}

.sec li a{

    position: relative;

    display: grid;

    place-items: center;

    width: 50px;height: 50px;
    text-decoration: none;

    border: solid 1px #fff;

    margin: 10px 0 0;

}
